.animation--fade-in-down {
  animation: fadeInDown .3s;
  animation-duration: 1s;
}

.animation--fade-in {
  animation: fadeIn 1s forwards;
}

.animation--fade-in-zoom-in {
  animation: fadeInZoomIn 1s forwards;
}

.animation--fade-in-slide-left {
  animation: fadeInSlideLeft 1s forwards;
}

.animation--fade-in-slide-right {
  animation: fadeInSlideRight 1s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@for $i from 1 through 10 {
  .animation-delay--#{$i}00ms {
    animation-delay: $i * 100ms;
  }
}

[data-scroll-animation] {
  opacity: 0;
}