@font-face {
  font-family: 'PTSansPro';
  src: url('../fonts/subset-PTSansPro-NarrowBold.woff2') format('woff2'),
  url('../fonts/subset-PTSansPro-NarrowBold.woff') format('woff'),
  url('../fonts/subset-PTSansPro-NarrowBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansPro';
  src: url('../fonts/subset-PTSansPro-Light.woff2') format('woff2'),
  url('../fonts/subset-PTSansPro-Light.woff') format('woff'),
  url('../fonts/subset-PTSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansPro';
  src: url('../fonts/subset-PTSansPro-Black.woff2') format('woff2'),
  url('../fonts/subset-PTSansPro-Black.woff') format('woff'),
  url('../fonts/subset-PTSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}