.input {
  width: 100%;
  border: 2px solid $orange;
  background: transparentize($white, 0.5);
  transition: .3s;

  &::-webkit-input-placeholder {
    text-transform: uppercase;
    text-align: center;
  }
  &::-moz-placeholder {
    text-transform: uppercase;
    text-align: center;
  }
  &:-ms-input-placeholder {
    text-transform: uppercase;
    text-align: center;
  }

  &:focus {
    background: transparentize($white, 0.3);
  }
}

.input--sm {
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  font-size: 20px;

  &::-webkit-input-placeholder {
    color: $grey-5;
  }
  &::-moz-placeholder {
    color: $grey-5;
  }
  &:-ms-input-placeholder {
    color: $grey-5;
  }
}

.input--bg {
  height: 60px;
  line-height: 65px;
  padding: 0 15px;
  font-size: 30px;

  &::-webkit-input-placeholder {
    color: $grey-6;
  }
  &::-moz-placeholder {
    color: $grey-6;
  }
  &:-ms-input-placeholder {
    color: $grey-6;
  }
}

.label {
  display: block;
  position: relative;
}

.input-error-message {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 16px;
  color: $white;

  @include media-max($screen-sm) {
    font-size: 14px;
  }
}