@mixin media-max($val) {
  @media (max-width: #{$val - 1}) {
    @content;
  }
}

@mixin media-min($val) {
  @media (min-width: #{$val}) {
    @content;
  }
}

@mixin media($valMin, $valMax) {
  @media (min-width: #{$valMin}) and (max-width: #{$valMax - 1}) {
    @content;
  }
}

// all arguments px
@mixin responsiveFontSize($minFontSize, $maxFontSize, $minScreen: $screen-min, $maxScreen: $screen-max) {
  font-size: calc(#{$minFontSize} + (#{$maxFontSize / 1px} - #{$minFontSize / 1px}) * (100vw - #{$minScreen}) / (#{$maxScreen / 1px} - #{$minScreen / 1px}));

  @include media-max($minScreen) {
    font-size: $minFontSize;
  }

  @include media-min($maxScreen) {
    font-size: $maxFontSize;
  }
}

// $minWidth, $maxWidth in %; $breakpoint in px
@mixin resposiveWidth($minWidth, $maxWidth, $breakpoint) {
  min-width: $minWidth;
  max-width: $maxWidth;
  width: calc((#{$breakpoint} - 100vw) * #{$breakpoint / 1px});
}