.title {

}

.title--1 {
  @include responsiveFontSize(30px, 50px);
  text-transform: uppercase;
}

.title--2 {
  @include responsiveFontSize(24px, 50px);
}

.title--3 {
  @include responsiveFontSize(24px, 50px);
  font-weight: 700;
}

.title--4 {
  @include responsiveFontSize(18px, 25px);
}

.p {
  line-height: 1.2;
}

.ol {
  counter-reset: list;

  .li {
    &:before {
      counter-increment: list;
      content: counter(list) '. ';
      color: $green;
    }
  }
}

.ul {
  .li {
    position: relative;
    padding-left: 30px;

    &:before {
      @extend .icon;
      @extend .icon--arrow-circle-sm;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
}