.user-styles {
  max-width: 100vw - 11vw;
  overflow-x: auto;

  // TABLE
  table {
    @extend .margin--bottom-30;
    text-align: center;
  }

  thead tr {
    border: solid $green;
    border-width: 0 1px 0 1px;
  }

  tr {
    &:last-child {
      border-bottom: 1px solid $green;
    }

    &:nth-child(2n+1) td {
      background: $white;
    }

    &:nth-child(2n) td {
      background: $grey-3;
    }
  }

  th {
    line-height: 1.2;
    padding: 10px;
    vertical-align: middle;
    color: $white;
    background: $green;

    &:not(:last-child) {
      border-right: 1px solid $white;
    }

    &:first-child {
      width: 30%;
    }

    @include media-max($screen-lg) {
      padding: 2px;
    }
  }

  td {
    line-height: 1.2;
    padding: 0 10px;
    vertical-align: middle;
    border: solid $green;
    border-width: 0 1px 0 1px;

    @include media-max($screen-lg) {
      padding: 0 2px;
    }
  }

  // LIST
  ol {
    @extend .margin--bottom-10;
    counter-reset: list;

    li {
      @extend .p;

      &:before {
        counter-increment: list;
        content: counter(list) '. ';
        color: $green;
      }
    }
  }

  ul {
    li {
      @extend .margin--bottom-10;
      @extend .p;
      position: relative;
      padding-left: 30px;

      &:before {
        @extend .icon;
        @extend .icon--arrow-circle-sm;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }
    }
  }

  // TITLE
  h2, h3, h4, h5, h6 {
    @extend .margin--bottom-1;
  }

  h2 {
    @extend .title--3;
    @extend .text-color--orange;
  }

  h3 {
    @extend .title--4;
  }

  h4 {
    @include responsiveFontSize(16px, 20px);
  }

  h5 {
    @include responsiveFontSize(15px, 18px);
  }

  h6 {
    @include responsiveFontSize(14px, 16px);
  }

  // PARAGRAPH
  p {
    @extend .p;
    @extend .margin--bottom-7;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }
}