// Colors
$black: #000;

$white: #fff;

$grey-1: #f5f5f5;
$grey-2: #efefef;
$grey-3: #eee;
$grey-4: #c4c4c4;
$grey-5: #2e2e2e;
$grey-6: #808080;

$green: #00a097;

$orange: #ff6600;

$red: #FF0000;

$grey-hover-button: #757575;

$green-region-active: #59beb8;

// Font
$font-family: PTSansPro, Arial, sans-serif;

// Wrapper
$wrapper-width: 1280px;

// Gutter
$gutter: 10px;

// Screen
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;

$screen-min: 320px;
$screen-max: 1280px;

// Z-index
$z-index--popup: 20;
$z-index--sticker: 19;
$z-index--header-mobile: 11;
$z-index--header-top: 10;
$z-index--header-bottom: 9;

// Header
$headerBottomHeight: 60px;