.align--container {
  display: flex;
}

.align--container-center {
  justify-content: center;
  display: flex;
}

.align--container-center-both {
  align-items: center;
  display: flex;
  justify-content: center;
}

.align--item {
  flex: 1;
}

.align--top {
  align-items: flex-start;
  display: flex;
}

.align--right {
  display: flex;
  justify-content: flex-end;
}

.align--container-vertical {
  display: block;
  position: relative;
  transform-style: preserve-3d;
}

.align--vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}