.grid--1of1 {
  width: 100%;
}

.grid--1of2 {
  width: 50%;
}

.grid--1of3 {
  width: 33.33333%;
}

.grid--2of3 {
  width: 66.66666%;
}

.grid--1of4 {
  width: 25%;
}

.grid--3of4 {
  width: 75%;
}

.grid--1of5 {
  width: 20%;
}

.grid--2of5 {
  width: 40%;
}

.grid--3of5 {
  width: 60%;
}

.grid--4of5 {
  width: 80%;
}

.grid--1of6 {
  width: 16.66666%;
}

.grid--1of8 {
  width: 12.5%;
}

.grid--4of6 {
  width: 66.66666%;
}

.grid--5of6 {
  width: 83.33333%;
}