.wrapper {
  max-width: $wrapper-width;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--padding {
  padding-left: $gutter;
  padding-right: $gutter;
}

.wrapper--shadow {
  box-shadow: 0 5px 10px transparentize($black, 0.5);
}

.wrapper--grey {
  background: $grey-3;
}