include mixins

doctype html
html(lang='ru')
    block vars

    head
        block head
            include components/head

    body(style=isIndexPage ? 'padding-top: 0;' : '')
        block header
            include components/header

        .wrapper.wrapper--shadow(class=isBgWrapperGrey ? 'wrapper--grey' : '')
            block content

            block footer
                include components/footer

        if (isStickerShow)
            block sticker
                include components/sticker

        block popup
            include components/popup
            include components/popup-success

        block scripts
            include components/scripts