.breadcrumbs {
  padding-top: $headerBottomHeight + 46px;
  padding-bottom: 46px;

  @include media-max($screen-lg) {
    padding-top: 6%;
    padding-bottom: 3.6%;
  }

  @include media-max($screen-sm) {
    padding-bottom: 5%;
  }
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  &:not(:first-child) {
    position: relative;
    padding-left: 30px;

    &:before {
      @extend .icon;
      @extend .icon--caret;
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      width: 10px;
      height: 6px;
      transform: translateY(-50%) rotateZ(-90deg);
    }
  }
}

.breadcrumbs-link {
  transition: .3s;

  &:hover {
    color: $orange;
  }

  .breadcrumbs-item:last-child & {
    color: $green;
  }
}