.button {
  display: inline-block;
  font-family: $font-family;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
  line-height: 1;
  padding: 10px 0;
  transition: .3s;

  &:active {
    transform: scale(0.96);
  }
}

.button--sm {
  height: 45px;
  width: 240px;
  font-size: 20px;
}

.button--md {
  height: 45px;
  width: 100%;
  font-size: 20px;
}

.button--lg {
  height: 60px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}

.button--orange-border {
  color: $orange;
  border-color: $orange;
  background: transparentize($white, 0.25);

  &:hover {
    color: $white;
    background: $orange;
  }
}

.button--orange-background {
  color: $white;
  background: $orange;

  &:hover {
    background: $grey-hover-button;
  }
}

.button--width-100-sm {
  @include media-max($screen-sm) {
    width: 100%;
  }
}