.collapse {
  padding-right: 2.5em;
  border-bottom: 1px solid $grey-4;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  &:before {
    @extend .icon;
    @extend .icon--arrow-circle-bg;
    content: '';
    position: absolute;
    top: 1em;
    right: 0;
    width: 2em;
    height: 2em;
  }

  &.active {
    &:before {
      @extend .icon--arrow-circle-bg-active;
    }
  }
}

.collapse-title {
  padding: 0.8em 0 0.6em;
  transition: .3s;

  .collapse:hover & {
    color: $orange;
  }

  .collapse.active & {
    color: $green;
  }
}

.collapse-container {
  display: none;

  .collapse.active & {
    display: block;
  }
}