.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-link {
  color: $orange;
  text-transform: uppercase;
  border-bottom: 1px solid $orange;
  cursor: pointer;

  &:after {
    @extend .icon;
    @extend .icon--caret;
    content: '';
    width: 10px;
    height: 6px;
    margin-left: 12px;
    vertical-align: middle;

    .dropdown.open & {
      transform: rotateZ(180deg);
    }
  }
}

$width-container: 460px;
.dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: $width-container;
  margin: 20px 0 0 (-$width-container / 2);
  padding: 12px 48px;
  text-align: center;
  border: 1px solid $green;
  background: $white;

  .dropdown.open & {
    display: block;
  }

  @include media-max($screen-md) {
    $width-container: 300px;
    width: $width-container;
    margin: 20px 0 0 (-$width-container / 2);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

.dropdown-container-title {
  font-size: 16px;
  line-height: 1.2;
  color: $green;
  margin-bottom: 15px;
}

.dropdown-container-link {
  display: inline-block;
  width: 49%;
  font-size: 19px;
  line-height: 1.2;
  cursor: pointer;
  text-align: left;
  transition: .3s;
  padding: 0 10px;

  &:hover {
    color: $orange;
  }

  &.active {
    color: $green;
  }

  @include media-max($screen-md) {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;

    &:nth-child(2n+1),
    &:nth-child(2n) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}