.footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 30px;
  background: $green;
  color: $white;

  @include media-max($screen-lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include media-max($screen-sm) {
    text-align: center;
  }

  .grid--1of4 {
    display: flex;

    &:nth-child(2),
    &:nth-child(3) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }

    @include media-max($screen-lg) {
      width: 50%;

      &:nth-last-child(n+3) {
        margin-bottom: 2em;
      }

      &:nth-child(2n+1) {
        justify-content: center;
      }

      &:nth-child(2n) {
        justify-content: center;
      }
    }

    @include media-max($screen-sm) {
      &:nth-child(n+3) {
        width: 100%;
        order: 3;
      }

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
        text-align: left;
      }

      &:nth-last-child(n+2) {
        margin-bottom: 1.5em;
      }
    }
  }
}

.footer-grid-container {

}

// Logo
.footer-logo {
  display: block;

  @include media-max($screen-sm) {
    height: 48px;
  }
}

.footer-logo-img {
  display: block;
}

// Navigation
.footer-nav {

}

.footer-nav-list {

}

.footer-nav-item {
  @include media-max($screen-sm) {
    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
}

.footer-nav-link {
  transition: .3s;

  &:hover {
    color: $orange;
  }
}

// Phones
.footer-phone-title {
  text-transform: uppercase;

  @include media-max($screen-sm) {
    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
}

.footer-phone-wrap {

}

.footer-phone-icon-wrap {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  text-align: center;

  @include media-max($screen-sm) {
    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
}

.footer-phone-icon {
  display: inline-block;
  vertical-align: middle;
}

.footer-phone {
  display: inline-block;
  vertical-align: middle;
}

// Location
.footer-location-title {
  text-transform: uppercase;
}

.footer-location {
  line-height: 1.3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 26px 0 0 -5px;

  @include media-max($screen-sm) {
    margin-top: 10px;
  }
}

.footer-social-item {
  padding-left: 5px;
}

.footer-social-link {
  transition: .3s;

  &:hover {
    opacity: 0.7;
  }
}

.footer-social-img {

}