.header {

  @include media-max($screen-lg) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index--header-mobile;

    &.mobile-menu-open {
      right: 0;
      bottom: 0;
      background: $white;
      overflow-y: auto;
    }
  }
}

.header-top {
  background: $white;
  box-shadow: 0 2px 5px transparentize($black, 0.5);
  position: relative;
  z-index: $z-index--header-top;

  @include media-max($screen-lg) {
    .logo {
      height: 48px;
    }

    .mobile-menu-open & {
      box-shadow: none;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;

    @include media-max($screen-lg) {
      min-height: 68px;

      .mobile-menu-open & {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .grid--1of4 {
    &:nth-child(n+2):nth-last-child(n+2) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }

    @include media-max($screen-lg) {
      &:first-child {
        width: 50%;
      }

      &:not(:first-child) {
        display: none;
        width: 100%;
      }

      .mobile-menu-open & {
        &:not(:last-child) {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.header-burger {
  @extend .icon;
  @extend .icon--burger;
  display: none;
  position: absolute;
  top: 15px;
  right: $gutter;
  width: 38px;
  height: 38px;
  cursor: pointer;

  @include media-max($screen-lg) {
    display: block;
  }

  .mobile-menu-open & {
    @extend .icon--burger-close;
  }
}

.header-phone-wrap {
  line-height: 1.2;
}

.header-phone {
  display: block;
  font-size: 30px;
}


.header-bottom {
  @include media-max($screen-lg) {
    display: none;

    .mobile-menu-open & {
      display: block;
    }
  }

  .wrapper {
    position: relative;
  }

  .logo,
  .button {
    display: none;
  }

  .logo {
    height: 48px;
    margin-right: 10px;
  }

  .button {
    margin-left: 10px;

    @include media-max($screen-lg) {
      .mobile-menu-open & {
        display: block;
        margin: 30px auto 20px;
      }
    }

    @include media-max($screen-sm) {
      .mobile-menu-open & {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  &.sticky {
    .header-nav {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      max-width: $wrapper-width;
      padding-left: $gutter;
      padding-right: $gutter;
    }

    .logo,
    .button {
      display: block;
    }
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparentize($black, 0.5);
  z-index: $z-index--header-bottom;

  @include media-max($screen-lg) {
    .mobile-menu-open & {
      background: none;
    }
  }
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  @include media-max($screen-lg) {
    .mobile-menu-open & {
      width: 100%;
    }
  }
}

.header-nav-item {
  display: table;
  width: 25%;

  &:not(:last-child) {
    border-right: 1px solid $white;
  }

  @include media-max($screen-lg) {
    .mobile-menu-open & {
      width: 100%;
      border: none;
    }
  }
}

.header-nav-link {
  display: table-cell;
  height: $headerBottomHeight;
  vertical-align: middle;
  line-height: 1.2;
  font-size: 22px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;

  &:hover,
  &.active {
    background: transparentize($white, 0.25);
  }

  &:hover {
    color: $orange;
  }

  &.active {
    color: $green;
  }

  @include media-max($screen-lg) {
    .mobile-menu-open & {
      height: 40px;
      color: $black;

      &.active {
        color: $green;
      }
    }
  }
}