.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparentize($black, 0.25);
  z-index: $z-index--popup;

  &.open {
    display: block;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  padding: 30px;
  background: $green;

  @include media-max($screen-sm) {
    width: 300px;
    padding: 10px;

    .input {
      font-size: 20px;
    }
  }

  .logo,
  .button,
  .label {
    margin-bottom: 30px;

    @include media-max($screen-sm) {
      margin-bottom: 20px;
    }
  }
}

.popup-close {
  @extend .icon;
  @extend .icon--close;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: 0.8;
  }

  @include media-max($screen-sm) {
    top: 10px;
    right: 10px;
  }
}

.popup-form {

}

.popup-footer {
  display: flex;
}

.popup-footer-icon {
  @extend .icon;
  @extend .icon--protect;
  min-width: 51px;
  height: 55px;
  margin-right: 20px;
}

.popup-footer-text {
  font-size: 16px;
  line-height: 1.2;
  color: $white;
}