.section-map {
  position: relative;
  max-width: 1000px;
  //margin: 0 auto 18px;
  margin: 0 auto 1.4%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: $white;
  }

  svg {
    display: block;
    position: relative;
  }
}

.section-map-city {
  @extend .icon;
  @extend .icon--map-marker-bg;
  position: absolute;
  width: 5.3%;
  padding-top: 7%;
  transform: translate(-50%, -50%);
  transition: .2s;

  &:hover {
    width: 7.9%;
    padding-top: 10.4%;
  }
}

.section-map-city--1 {
  top: 41%;
  left: 47%;
}

.section-map-city--2 {
  top: 49%;
  left: 8%;
}

.section-map-city--3 {
  top: 79%;
  left: 6.5%;
}

.section-map-city--4 {
  top: 72%;
  left: 81%;
}

.section-map-city--5 {
  top: 42.5%;
  left: 74%;
}

.section-map-city--6 {
  top: 16%;
  left: 70.5%;
}

#region-minsk,
#region-grodno,
#region-brest,
#region-gomel,
#region-mogilev,
#region-vitebsk {
  transition: fill .3s;

  &.active {
    fill: $green-region-active;
  }
}