.section-conspicuous {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;

  @include media-max($screen-sm) {
    padding-top: 20px;
  }
}

.section-conspicuous--left {
  background: $green;
}

.section-conspicuous--right {
  background: $white;
}

.section-conspicuous-title {
  @include responsiveFontSize(40px, 120px);
  font-weight: 900;
  line-height: 0.84;
  margin-bottom: 0.1em;

  .section-conspicuous--left & {
    width: 65%;
    color: $white;

    @include media-max($screen-lg) {
      width: 100%;
      margin-bottom: 0.2em;
    }
  }

  .section-conspicuous--right & {
    width: 50%;
    color: $orange;
    text-align: right;

    @include media-max($screen-lg) {
      width: 100%;
    }
  }
}

.section-conspicuous-text {
  @include responsiveFontSize(20px, 30px);
  line-height: 1.2;
  margin-top: 0.3em;

  .section-conspicuous--left & {
    width: 35%;
    text-align: right;

    @include media-max($screen-lg) {
      width: 100%;
    }
  }

  .section-conspicuous--right & {
    width: 50%;

    @include media-max($screen-lg) {
      width: 100%;
      margin-bottom: 0.6em;
    }
  }
}

.section-conspicuous-text-number {
  display: inline-block;
  @include responsiveFontSize(24px, 50px);
  line-height: 0.72;

  .section-conspicuous--left & {
    color: $white;
  }

  .section-conspicuous--right & {
    color: $green;
  }
}