.section-products {
  padding: 0 1.5em;
  margin-bottom: 20px;
  border: 1px solid $grey-4;
  background: $grey-2;

  @include media-max($screen-sm) {
    padding: 0 1em;
  }
}

.section-products-list {

}

.section-products-item {
  display: flex;
  padding: 2em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $grey-4;
  }

  @include media-max($screen-sm) {
    padding: 1.5em 0;
  }
}

.section-products-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding-right: 1em;

  @include media-max($screen-sm) {
    align-items: flex-start;
    width: 20%;
  }
}

.section-products-img {

}

.section-products-text {
  width: 65%;

  @include media-max($screen-sm) {
    width: 80%;
  }
}

.section-products-link {
  display: block;
  transition: .3s;

  &:hover {
    color: $orange;
  }
}