.section-steps {
  padding-bottom: 4.4%;
  text-align: center;
  background: $white;
}

.section-steps-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.section-steps-item {
  width: 33.33%;
  padding-left: 30px;
  position: relative;

  &:before {
    @extend .icon;
    content: '';
    width: 160px;
    height: 160px;
    margin-bottom: 1.2em;

    @include media-max($screen-md) {
      width: 9em;
      height: 9em;
    }
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      &:before {
        @extend .icon--step-#{$i};
      }
    }
  }

  &:not(:first-child) {
    &:after {
      @extend .icon;
      @extend .icon--arrow-step;
      content: '';
      position: absolute;
      top: 80px;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 31px;

      @include media-max($screen-md) {
        display: none;
      }
    }
  }

  @include media-max($screen-md) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}

.section-steps-item-title {
  @include responsiveFontSize(22px, 40px);
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.section-steps-item-text {

}