.section {
  //padding-left: 70px;
  //padding-right: 70px;
  padding-left: 5.5%;
  padding-right: 5.5%;
}

.section-padding-top {
  //padding-top: 36px;
  padding-top: 2.8%;
}

.section--margin-bottom {
  margin-bottom: 10%;
}