.section-indicators {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4.7%;
  padding-bottom: 4.7%;
  background: url("../images/bg-2.png")no-repeat 50%;
  background-size: cover;
  color: $white;
  text-align: center;

  @include media-max($screen-sm) {
    .button {
      width: 100%;
    }
  }
}

.section-indicators-col {
  &:first-child {
    width: 45%;

    @include media-max($screen-lg) {
      width: 100%;
      margin-bottom: 2em;
    }
  }

  &:last-child {
    width: 55%;

    @include media-max($screen-lg) {
      width: 100%;
    }
  }
}

.section-indicators-number {
  display: inline-block;
  @include responsiveFontSize(30px, 100px);
  font-weight: 700;

  @include media-max($screen-lg) {
      margin-bottom: 0.2em;
  }
}

.section-indicators-number-wrap {
  .section-indicators-number {
    @include media-max($screen-lg) {
      margin-bottom: 0;
    }
  }
}

.section-indicators-number-unit {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 -30px 0 10px;
}

.section-indicators-special-list {
  display: flex;
  margin-bottom: 3em;

  @include media-max($screen-lg) {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-indicators-special-item {
  width: 25%;
}

.section-indicators-special-item-number {
  @include responsiveFontSize(30px, 100px);
}

.section-indicators-special-item-text {
  @include responsiveFontSize(20px, 30px);
}