.section-questions {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3.9%;
  padding-bottom: 3.9%;
  color: $white;
  background: url("../images/bg-3.jpg")no-repeat 50%;
  background-size: cover;

  .title {
    line-height: 0.8;

    @include media-max($screen-lg) {
      line-height: 1;
    }
  }

  .grid--1of2 {
    &:last-child {
      display: flex;
      justify-content: center;
    }

    @include media-max($screen-md) {
      width: 100%;

      &:first-child {
        margin-bottom: 2em;
      }
    }
  }

  .label {
    margin-bottom: 27px;

    @include media-max($screen-md) {
      margin-bottom: 20px;
    }
  }
}

.section-questions-list {

}

.section-questions-item {

}

a.section-questions-link {
  display: inline-block;
  transition: .3s;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    border-bottom: 1px solid $white;
    transition: .3s;
  }

  &:hover {
    color: $orange;

    &:after {
      border-color: transparent;
    }
  }

  @include media-max($screen-md) {
    .section-questions-item:not(:last-child) & {
      margin-bottom: 1em;
    }
  }
}

.section-questions-form {
  width: 300px;

  @include media-max($screen-md) {
    width: 100%;
  }
}