.section-feedback {
  padding-bottom: 3.4%;
  background: $white;
}

.section-feedback-list {

}

.section-feedback-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.section-feedback-img-wrap {
  width: 50.5%;
  padding-right: 6.3%;
  text-align: center;

  @include media-max($screen-lg) {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1em;
  }
}

.section-feedback-img {
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.section-feedback-text {
  width: 49.5%;

  @include media-max($screen-lg) {
    width: 100%;
  }
}