.section-top {
  padding-top: 13%;
  padding-bottom: 3.8%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-max($screen-sm) {
    .button {
      width: 100%;
    }
  }
}

.section-top-col {
  width: 50%;

  @include media-max($screen-lg) {
    width: 100%;
  }
}

.section-top-text-big {
  @include responsiveFontSize(30px, 80px);
  color: $green;
  margin: 0 0 0.2em 0.7em;

  @include media-max($screen-md) {
    margin-bottom: 0.4em;
  }
}