.section-advantages {
  padding-bottom: 7%;
  text-align: center;
  background: url("../images/bg-4.jpg")no-repeat 50%;
  background-size: cover;
}

.section-advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.section-advantages-item {
  width: 33.33%;
  padding-left: 20px;

  @include media-max($screen-md) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}

.section-advantages-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 132px;
  margin: 0 auto 2.2em;

  @include media-max($screen-md) {
    margin-bottom: 1em;
    width: 8em;
    height: 8em;
  }
}

.section-advantages-img {

}

.section-advantages-text-number {
  display: inline-block;
  @include responsiveFontSize(24px, 50px);
  font-weight: 700;
  color: $orange;
}