.section-products-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;

  .grid--1of3 {
    margin-left: -1em;

    @include media-max($screen-sm) {
      width: 100%;
    }
  }
}

.section-products-links-link {
  display: block;
  padding-left: 20px;
  transition: .3s;

  &:hover {
    color: $orange;
  }

  @include media-max($screen-md) {
    &:not(:last-child) {
      margin-bottom: 0.4em;
    }
  }
}