.section-offer-condition {
  background: $grey-2;
}

.section-offer-condition-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;
}

.section-offer-condition-item-wrap {
  width: 30%;
  padding-left: 20px + 32px;
  position: relative;
  max-height: 2em * 1.2 + 1em;
  overflow: hidden;
  padding-bottom: 1em;

  @include media-max($screen-md) {
    max-height: 1000em;
  }

  &:before {
    @extend .icon;
    @extend .icon--arrow-circle-sm;
    content: '';
    position: absolute;
    top: 4px;
    left: 20px;
    width: 20px;
    height: 20px;
  }

  @include media-min($screen-md) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1em;
      background: $grey-2;
    }
  }

  &.additional-link-active {
    max-height: 1000em;
  }

  @include media-max($screen-md) {
    width: 100%;
  }
}

.section-offer-condition-item {

}

.additional-text-link {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  color: $green;
  text-decoration: underline;
  background: $grey-2;
  padding-left: 1em;
  cursor: pointer;
  transition: .3s;
  z-index: 2;

  &.show {
    display: block;
  }

  &:before {
    content: 'еще';
    display: block;

    .additional-link-active & {
      content: 'скрыть';
    }
  }

  &:after {
    content: '...';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0.2em;

    .additional-link-active & {
      display: none;
    }
  }

  &:hover {
    color: $orange;
    text-decoration-color: transparent;
  }
}