.sidebar-wrap {
  width: 240px;
  margin-bottom: 20px;

  @include media-max($screen-lg) {
    display: none;
  }
}

.sidebar-wrap--left {
  margin-right: 18px;
}

.sidebar-wrap--right {
  margin-left: 55px;
}

.sidebar {
  padding: 16px 10px 10px;
  border: 1px solid $green;
}

.sidebar-nav-link {
  display: inline-block;
  cursor: pointer;
  transition: .3s;

  &:hover,
  &.active {
    color: $orange;
  }
}

.sidebar-nav-link--border {
  border-bottom: 1px solid $grey-4;
}