.bx-wrapper {
  position: relative;
}

.bx-prev,
.bx-next {
  @extend .icon;
  @extend .icon--arrow-step;
  width: 30px;
  height: 31px;
  position: absolute;
  top: calc(50% - 15px);
  transition: .3s;

  &:hover {
    opacity: 0.8;
  }

  @include media-max($screen-md) {
    width: 15px;
    background-size: 30px;
    background-position: 0 50%;
  }
}

.bx-prev {
  left: -10px;
  transform: translateX(-100%) rotateZ(180deg);

  @include media-max($screen-md) {
    left: 0;
  }
}

.bx-next {
  right: -10px;
  transform: translateX(100%);

  @include media-max($screen-md) {
    right: 0;
  }
}