.sticker {
  display: none;
  width: 300px;
  position: fixed;
  padding: 14px 18px 14px (18px + 60px);
  color: $white;
  background: transparentize($black, 0.4);
  z-index: $z-index--sticker;
  transition: opacity .5s;

  @include media-max($wrapper-width) {
    right: 0 !important;
  }

  @include media-max($screen-sm) {
    width: 200px;
    padding-left: 10px + 30px + 10px;
    padding-right: 10px;
  }

  &.open {
    display: block;
  }
}

.sticker-close {
  @extend .icon;
  @extend .icon--arrow-circle-bg-orange;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: .3s;

  @include media-max($screen-sm) {
    width: 30px;
    height: 30px;
    left: 10px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.sticker-text-wrap {

}

.sticker-title {
  @include responsiveFontSize(20px, 30px);
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $white;
}

.sticker-text {
  line-height: 1.2;
}

.sticker-text-big {
  display: inline-block;
  @include responsiveFontSize(20px, 30px);
  font-weight: 700;
  color: $orange;
}