- var breadcrumbs = ['Главная ','Контакты']

nav.breadcrumbs.section
  ul.breadcrumbs-list
    each item, i in breadcrumbs
      li.breadcrumbs-item
        a.breadcrumbs-link(href=i !== (breadcrumbs.length - 1) ? '' : false)= item