.collapse(data-collapse)
    .collapse-title.font-size--30 Почему «Быстрые ДЕНЬГИ» выгоднее?
    .collapse-container
        .p.margin--bottom-8 В «Быстрые ДЕНЬГИ» Вы получите заем быстрее, чем в банке.
        .p.margin--bottom-8.
            Вам не потребуется сбор большого пакета документов – справки о трудоустройстве, документального
            подтверждения доходов и т.д. Для получения займа «Быстрые ДЕНЬГИ» нужен только паспорт и любой второй
            документ, указанный в Правилах предоставления микрозаймов.