- var phones = [['+375 (25) 533-55-55','life'],['+375 (29) 8-621-621','mts'],['+375 (29) 570-44-20','mts'],['+375 (29) 6-800-103','velc']]
- var social = ['ok','facebook','vkontakte','insta','youtube']

block footer
    footer.footer.section
        .grid--1of4
            .footer-grid-container
                a.footer-logo(href='' title='')
                    img.footer-logo-img(src='images/logo--white.png' alt='')

        .grid--1of4
            .footer-grid-container
                nav.footer-nav
                    ul.footer-nav-list
                        each item in menu
                            li.footer-nav-item.p
                                a.footer-nav-link(href='')= item

        .grid--1of4
            .footer-grid-container
                .footer-phone-title Свяжитесь с нами
                each item in phones
                    .footer-phone-wrap
                        .footer-phone-icon-wrap
                            img.footer-phone-icon(src='images/' + item[1] + '.png')
                        a.footer-phone.p(href='tel:' + item[0].replace(/[\s()-]/g, ''))= item[0]

        .grid--1of4
            .footer-grid-container
                .footer-location-title Как нас найти
                .footer-location Минск, Кропоткина, 108а
                ul.footer-social-list
                    each item in social
                        li.footer-social-item
                            a.footer-social-link(href='')
                                img.footer-social-img(src='images/' + item + '.png')