- var regions = ['Минск и область','Витебск и область','Гомель и область','Гродно и область','Могилев и область','Брест и область']
- var phones = ['+375 44 253 66 88','+375 29 584 55 33']

append vars
    - var menu = ['Главная','Продукты','Вопросы и ответы','Контакты']

block header
    header.header(data-mobile-menu)
        .header-top(data-header-top)
            .header-burger(data-mobile-menu-link)

            .wrapper.wrapper--padding
                .grid--1of4
                    a.logo(href='' title='')
                        img.logo-img(src='images/logo.png' alt='')

                .grid--1of4
                    .dropdown(data-dropdown)
                        .dropdown-link(data-dropdown-link) Минск
                        .dropdown-container.animation--fade-in-down
                            .dropdown-container-title Работаем на всей территории<br>Республики Беларусь
                            each item, i in regions
                                a.dropdown-container-link(class=i===0 ? 'active' : '' href='')= item
                .grid--1of4
                    .header-phone-wrap
                        each item in phones
                            a.header-phone(href='tel:' + item.replace(/[\s()-]/g, ''))= item
                .grid--1of4
                    .button.button--sm.button--orange-border(data-popup-link='popup') онлайн заявка

        .header-bottom(data-header-bottom)
            .wrapper
                nav.header-nav
                    a.logo(href='' title='')
                        img.logo-img(src='images/logo--white.png' alt='')

                    ul.header-nav-list
                        each item, i in menu
                            li.header-nav-item
                                a.header-nav-link(class=i===0 ? 'active' : '' href='')= item

                    .button.button--sm.button--orange-border(data-popup-link='popup') онлайн заявка