meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")

meta(name="format-detection" content="telephone=no")
meta(name='format-detection' content='address=no')

meta(name='theme-color' content='#ffffff')

meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

//link(rel='shortcut icon' href='images/favicon.png')

title БЫСТРЫЕ Деньги | #{pageTitle}

link(rel="stylesheet" href="css/styles.css")