.popup-overlay(data-popup-overlay='popup-success' class=isPopupSuccessOpen ? 'open' : '')
  .popup(data-popup)
    .popup-close(data-popup-close)

    .p.text-color--white.font-size--25.margin--bottom-20.margin--top-20.text-align--center Спасибо, ваша заявка принята

