.popup-overlay(data-popup-overlay='popup')
  .popup(data-popup)
    .popup-close(data-popup-close)

    a.logo(href='' title='')
      img.logo-img(src='images/logo--white.png' alt='')

    form.popup-form
      label.label
        input.input.input--bg(placeholder='ИМЯ' data-inputmask-name)
      label.label
        input.input.input--bg.text-align--center(placeholder='+375 29 888 77 66' data-inputmask-phone)
      button.button.button--lg.button--orange-background(type='submit') отправить заявку

    .popup-footer
      .popup-footer-icon
      .popup-footer-text.
        Ваши данные под защитой.<br>
        Мы гарантируем не передавать личную информацию 3-м лицам.

