script(src='js/jquery.min.js')
script(src='js/jquery.bxslider.min.js')
script(src='js/jquery.colorbox-min.js')
script(src='js/sticky-kit.min.js')
script(src='js/jquery.inputmask.bundle.min.js')
script(src='js/scripts.js')