- var questions = ['Как взять займ?','Кто может оформить заявку?','Каковы условия для меня?','Как погасить кредит?']

section.section-questions.section
  .grid--1of2
    .title.title--3.margin--bottom-10 Остались вопросы?

    ul.section-questions-list
      each item in questions
        li.section-questions-item.p
          a.section-questions-link(href='')= item

  .grid--1of2
    form.section-questions-form
      label.label
        input.input.input--sm(placeholder='ИМЯ' data-inputmask-name)
      label.label
        input.input.input--sm.text-align--center(placeholder='+375 29 888 77 66' data-inputmask-phone)
      button.button.button--md.button--orange-background(type='submit') Перезвонить мне