- var conditions = ['Ваш возраст от 21 года до 68 лет. Ваш возраст от 21 года до 68 лет','Есть постоянная регистрация в РБ','Ваш возраст от 21 года до 68 лет','Вы — гражданин РБ','Вы ремесленник, владелец подсобного хозяйства,  владелец подсобного хозяйства','Вы — гражданин РБ']

section.section-offer-condition.section.section-padding-top
  .title.title--2.margin--bottom-8.text-color--green.text-align--center Наше предложение специально для Вас, если

  ul.section-offer-condition-list
    each item, i in conditions
      li.section-offer-condition-item-wrap.font-size--25.margin--bottom-16.p(data-scroll-animation='fade-in' data-scroll-animation-delay=i + '00' data-additional-text-wrap)
        .section-offer-condition-item(data-additional-text)= item
        .additional-text-link(data-additional-link)