- var special = [['17','дней'],['13','часов'],['26','минут'],['15','секунд']]

section.section-indicators.section
  .section-indicators-col(data-scroll-animation='fade-in-slide-left')
    .p.font-size--30.margin--bottom-4 Выдано займов
    .section-indicators-number(data-increase-number='7') 3 241
    .p.font-size--30.margin--bottom-4 На общую сумму
    .section-indicators-number-wrap
      .section-indicators-number(data-increase-number='4000') 6 370 500
      .section-indicators-number-unit.font-size--30 BYN

  .section-indicators-col
    .p.font-size--30.margin--bottom-4 Спецпредложение действует
    ul.section-indicators-special-list
      each item, i in special
        li.section-indicators-special-item
          case i
            when 0
              .section-indicators-special-item-number(data-timer-day)= item[0]
              .section-indicators-special-item-text(data-timer-day-unit)= item[1]
            when 1
              .section-indicators-special-item-number(data-timer-hour)= item[0]
              .section-indicators-special-item-text(data-timer-hour-unit)= item[1]
            when 2
              .section-indicators-special-item-number(data-timer-min)= item[0]
              .section-indicators-special-item-text(data-timer-min-unit)= item[1]
            when 3
              .section-indicators-special-item-number(data-timer-sec)= item[0]
              .section-indicators-special-item-text(data-timer-sec-unit)= item[1]
    .button.button--sm.button--orange-background(data-popup-link='popup') Получить деньги