section.section-top.section(style='background-image: url("images/bg-1.jpg");')
  .section-top-col
    h1.title.title--1.margin--bottom-3 быстрые займы
    .p.font-size--30.margin--bottom-8.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
    .section-top-text-big От 500 руб
    .button.button--sm.button--orange-background(data-popup-link='popup') Заполнить заявку