- var steps = ['Оставьте заявку на сайте','Подойдите  к нам в офис','Получите деньги']

section.section-steps.section.section-padding-top
  .title.title--2.margin--bottom-12.text-color--orange 3 простых шага к получению займа

  ul.section-steps-list
    each item, i in steps
      li.section-steps-item(data-scroll-animation='fade-in' data-scroll-animation-delay=i * 3 + '00')
        .section-steps-item-title ШАГ #{i + 1}
        .section-steps-item-text= item
