- var cities = ['Минск','Гродно','Брест','Гомель','Могилев','Витебск']
- var regions = ['Минская область','Гродненская область','Брестская область','Гомельская область','Могилевская область','Витебская область']

section.section-map
    include ../rb.svg

    each item, i in cities
        a.section-map-city(class='section-map-city--' + (i + 1) href='' title=item)