- var links = ['Займ под расписку','Займ на недвижимость','Займ в день обращения в МФК Быстрые ']

section.section-products-links
  - for(var i=0; i<3; i++)
    .grid--1of3
      each item in links.concat(links, links, links, links)
        a.section-products-links-link.text-color--green.p(href='')= item