section.section-feedback.section.section-padding-top
  .title.title--2.margin--bottom-3.text-color--green.text-align--center Отзывы наших клиентов

  ul.section-feedback-list(data-slider)
    - for(var i=1; i<4; i++)
      li.section-feedback-item
        .section-feedback-img-wrap
          a(data-feedback-popup href='images/feedback-' + i + '.jpg')
            .section-feedback-img(style='background-image: url("images/feedback-' + i + '.jpg")')
        .section-feedback-text.p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.