- var advantages = ['Дешевле, чем в банке!<br>Ставка <div class="section-advantages-text-number">0,15%</div>','Быстрое оформление<br>До <div class="section-advantages-text-number">15</div> минут!','На очень длительные сроки<br>До <div class="section-advantages-text-number">48</div> месяцев']

section.section-advantages.section.section-padding-top
  .title.title--2.margin--bottom-12.text-color--green Наши преимущества

  ul.section-advantages-list
    each item, i in advantages
      li.section-advantages-item(data-scroll-animation='fade-in-zoom-in' data-scroll-animation-delay=i * 3 + '00')
        .section-advantages-img-wrap
          img.section-advantages-img(src='images/advantage-' + (i + 1) + '.png')
        .p.font-size--30!= item
