- var products = ['Микрокредиты','Микрозаймы','Деньги в долг']

section.section-products
  ul.section-products-list
    each item, i in products
      li.section-products-item
        .section-products-img-wrap
          img.section-products-img(src='images/products-' + (i + 1) + '.png')
        .section-products-text
          a.section-products-link.font-size--25.text-color--green.margin--bottom-3(href='')= item
          .p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.