section.section-conspicuous.section-conspicuous--right.section
  .section-conspicuous-text(data-scroll-animation='fade-in-slide-left')
    .section-conspicuous-text-number 0,15%
    | #{' '}- ниже не придумаешь<br>Если Вам предложат более низкую ставку, сообщите нам
  .section-conspicuous-title(data-scroll-animation='fade-in-slide-right') Низкий процент!
