section.section-conspicuous.section-conspicuous--left.section
  .section-conspicuous-title(data-scroll-animation='fade-in-slide-left') Большие возможности!
  .section-conspicuous-text(data-scroll-animation='fade-in-slide-right')
    .section-conspicuous-text-number 89,7%
    | #{' '}клиентов получили деньги, обратившись в нашу компанию
