aside.sidebar-wrap.sidebar-wrap--left
  .sidebar(data-sticky-sidebar)
    each item, i in questions
      .sidebar-nav-link.sidebar-nav-link--border.p.font-size--25.margin--bottom-10.text-color--green(data-scroll-menu-link=i + 1)= item