- var cities = ['Займы без поручителей в Бресте','Займы без поручителей в Могилеве','Займы без поручителей в Гомеле','Займы без поручителей в Витебске','Займы без поручителей в Гродно']
- var additional = ['Займы под 0,1%','Займы под 2 процента годовых']

aside.sidebar-wrap.sidebar-wrap--right
  .sidebar(data-sticky-sidebar)
    .font-size--25.text-color--green.text-transform--uppercase.font-weight--700.margin--bottom-10 В других городах

    each item in cities
      .sidebar-nav-link.p= item

    .font-size--25.text-color--green.text-transform--uppercase.font-weight--700.margin--bottom-10.margin--top-30 Смотрите так же

    each item in additional
      .sidebar-nav-link.p= item