extends  includes/layout

block vars
  - var isBgWrapperGrey = true

block content
  include includes/components/breadcrumbs

  section.section
    h1.title.title--2.margin--bottom-2.text-color--green Займы в городах Беларуси

    .p.font-size--30.margin--bottom-10.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure

    each item in ['+375 44 253 66 88','+375 29 584 55 33']
      .font-size--50.font-weight--700.text-color--orange.margin--bottom-2= item

  include includes/components/section-map
  include includes/components/section-questions