extends  includes/layout

append vars
  - var isStickerShow = true

block content
  include includes/components/section-top
  include includes/components/section-conspicuous-right
  include includes/components/section-conspicuous-left
  include includes/components/section-steps
  include includes/components/section-offer-condition
  include includes/components/section-indicators
  include includes/components/section-feedback
  include includes/components/section-advantages
  include includes/components/section-seo
  include includes/components/section-questions