extends  includes/layout

append vars
  - var isIndexPage = true

block header

block content
  .section.section-padding-top.clearfix
    .font-size--30.margin--bottom-8: a(href='home.html') Главная
    .font-size--30.margin--bottom-8: a(href='home-plus-sticker.html') Главная + всплывашка
    .font-size--30.margin--bottom-8: a(href='contacts.html') Контакты
    .font-size--30.margin--bottom-8: a(href='questions.html') Вопросы
    .font-size--30.margin--bottom-8: a(href='titles.html') Заголовки
    .font-size--30.margin--bottom-8: a(href='products.html') Продукты
    .font-size--30.margin--bottom-8: a(href='show-popup-success.html') Попап при успешном заказе

block sticker

block footer

block scripts
