extends  includes/layout

block content
  include includes/components/breadcrumbs

  .align--container.section
    .align--item
      h1.title.title--2.margin--bottom-8.text-color--orange Продукты Быстрые ДЕНЬГИ
      .p.margin--bottom-26.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.

      include includes/components/section-products
      include includes/components/section-products-links

    include includes/components/sidebar-right

  include includes/components/section-questions