extends  includes/layout

append vars
  - var questions = ['О компании','Как получить?','Как оформить?','Процедура выдачи','Как погасить?']

block content
  include includes/components/breadcrumbs

  .align--container.section.section--margin-bottom
    include includes/components/sidebar-left

    .align--item
      each item, i in questions
        .title.title--3.margin--bottom-3.text-color--orange(class=i!==0 ? 'margin--top-8' : '' data-scroll-menu-content=i + 1)= item
        include includes/components/collapse
        include includes/components/collapse
        include includes/components/collapse

  include includes/components/section-questions