extends  includes/layout

block vars
  - var isBgWrapperGrey = true

block content
  include includes/components/breadcrumbs

  .align--container.section
    .align--item
      h1.title.title--1.margin--bottom-1 быстрые займы

      //-.p.font-size--30.margin--bottom-1.
      //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      //-  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      //-
      //-h2.title.title--3.margin--bottom-1.text-color--orange Заголовок 2
      //-
      //-.p.font-size--25.margin--bottom-7.
      //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      //-  magna aliqua. Ut enim ad minim veniam
      //-
      //-.p.margin--bottom-9.
      //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      //-  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      //-
      //-h3.title.title--4.margin--bottom-1 Заголовок 3
      //-
      //-ol.ol.margin--bottom-10
      //-  - for(var i=0; i<3; i++)
      //-    li.li.p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      //-
      //-ul.ul
      //-  - for(var i=0; i<3; i++)
      //-    li.li.p.margin--bottom-10 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      //-
      //-.table-wrap.margin--bottom-30
      //-  table.table
      //-    thead.thead
      //-      tr.tr
      //-        - for(var i=0; i<6; i++)
      //-          th.th qweqwe
      //-    tbody.tbody
      //-      - for(var i=0; i<11; i++)
      //-        tr.tr
      //-          - for(var j=0; j<6; j++)
      //-            td.td asdasd

      .user-styles
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris

        h2 Заголовок 2

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut

        h3 Заголовок 3

        ol
          - for(var i=0; i<3; i++)
            li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

        ul
          - for(var i=0; i<3; i++)
            li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

        table
          thead
            tr
              - for(var i=0; i<6; i++)
                th qweqwe
          tbody
            - for(var i=0; i<11; i++)
              tr
                - for(var j=0; j<6; j++)
                  td asdasd

    include includes/components/sidebar-right

  .section.align--container-center.margin--bottom-30
    .button.button--sm.button--orange-background.button--width-100-sm(data-popup-link) Получить деньги

  include includes/components/section-steps
  include includes/components/section-offer-condition
  include includes/components/section-indicators
  include includes/components/section-feedback
  include includes/components/section-advantages
  include includes/components/section-questions